parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to method .+\(\) on an unknown class Generated\\.+#'
        - '#Call to method .+\(\) on an unknown class Orm\\.+#'
        - '#Parameter \$.+ of method .+ has invalid typehint type Generated\\.+#'
        - '#Parameter \$.+ of method .+ has invalid typehint type Orm\\.+#'
        - '#Return typehint of method .+ has invalid type Generated\\.+#'
        - '#Return typehint of method .+ has invalid type Orm\\.+#'
        - '#Call to static method .+\(\)+ on an unknown class Orm\\.+#'
        - '#.+Transfer.+#'
        - '#Class Orm\\.+ not found#'
    excludePaths:
        - src/SprykerEco/Zed/CrefoPay/Persistence/Propel/Abstract*.php
